/*  Nazaneen Baguaei */
/* Project 1 - Pre-K Learning Fun  */

body {
    background-color: #f2e5ff; /* light purple */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #b266ff;
    color: white;
    padding: 15px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

/* Navigation bar */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    background-color: #a14fff;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #8a39e1;
}

/* Section titles */
h2 {
    color: #6b21a8;
    margin-top: 20px;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.card {
    background-color: white;
    border: 1px solid #d6b3ff;
    width: 120px;
    padding: 8px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #b266ff;
    color: white;
    padding: 10px;
    margin-top: 30px;
}

